*           text=auto whitespace=trailing-space,space-before-tab,-indent-with-non-tab,tab-in-indent,tabwidth=4

.git*       text export-ignore

*.cpp          text
*.cxx          text
*.h            text
*.hpp          text
*.hxx          text
*.txt          text

# reST underlines/overlines can look like conflict markers
*.rst          text conflict-marker-size=80
# Markdown heading markers can look like conflict markers
*.md           text conflict-marker-size=200

*.cmake         text whitespace=tabwidth=2
*.cmakein       text whitespace=tabwidth=2
*.in            text whitespace=tabwidth=2
CMakeLists.txt  text whitespace=tabwidth=2

*.avi       binary
*.bmp       binary
*.exr       binary
*.ico       binary
*.jpeg      binary
*.jpg       binary
*.png       binary
*.gif       binary

*.a         binary
*.so        binary
*.dll       binary
*.jar       binary

*.pdf       binary
*.pbxproj   binary
*.vec       binary
*.doc       binary
*.dia       binary

*.xml                      -text whitespace=cr-at-eol
*.yml                      -text whitespace=cr-at-eol
.project                   -text whitespace=cr-at-eol merge=union
.classpath                 -text whitespace=cr-at-eol merge=union
.cproject                  -text whitespace=cr-at-eol merge=union
org.eclipse.jdt.core.prefs -text whitespace=cr-at-eol merge=union

*.sh        text eol=lf
